{% extends 'base.html' %}

{% block title %}
Описание веб-сервиса
{% endblock %}

{% block content %}
{{ super() }}
<p>Данный веб-сервер предоставляет возможность взаимодействия любому пользователю с написанной мной моделью, реализующей метод случайного леса и градиентный бустинг.  </p>
<p>Чтобы воспользоваться необходимой моделью перейдите на соответствующую вкладку, задайте параметры модели и данные. </p>
<img src="{{ url_for('static', filename='img/kitten.webp') }}" width=600px>
{% endblock %}
